<div class="container" xmlns:th="http://www.thymeleaf.org">
    <h1>All parts</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text="#{parts.name}"></th>
            <th scope="col" th:text="#{parts.price}"></th>
            <th scope="col" th:text="#{supplier.name}"></th>
            <th scope="col" th:text="#{action}"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="part : ${viewModel}" th:object="${part}">
            <tr>
                <td th:text="*{name}"></td>
                <td th:text="|$*{price}|"></td>
                <td th:text="*{supplier.name}"></td>
                <td>
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/parts/edit/{id}(id=*{id})}" th:text="#{action.edit}"></a>
                        <a th:href="@{/parts/delete/{id}(id=*{id})}" th:text="#{action.delete}"></a>
                    </div>
                    <div sec:authorize="hasAuthority('USER')">
                        <p th:text="#{restricted.to.admin}"></p>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>