<div class="container" xmlns:th="http://www.thymeleaf.org">
    <h1>All parts</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Supplier name</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="part : ${viewModel}" th:object="${part}">
            <tr>
                <td th:text="*{name}"></td>
                <td th:text="|$*{price}|"></td>
                <td th:text="*{supplierName}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>