<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-red" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Car Dealer Assistant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" th:href="@{/users/login}" th:text="#{login}"></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" th:href="@{/users/register}" th:text="#{register}"></a>
                </li>
            </ul>
            <div>
                <select class="form-control" id="languageSelect">
                    <option value="" th:text="#{lang}"></option>
                    <option value="en" th:text="#{change.lang.en}"></option>
                    <option value="de" th:text="#{change.lang.de}"></option>
                    <option value="fr" th:text="#{change.lang.fr}"></option>
                </select>
            </div>
        </div>
    </div>
</nav>