<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 class="mb-5 text-center">Register</h1>
            <form th:object="${createUserBindingModel}" class="mx-auto" th:method="post" th:action="@{/users/register}">
                <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-error'">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username..." name="username"
                           required th:field="*{username}"/>
                    <div class="text-danger" id="usernameHelp" th:each="error : ${#fields.errors('username')}"
                         th:text="${error}">Error Message
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password..." name="password"
                           required>
                    <div class="text-danger" id="passwordHelp" th:each="error : ${#fields.errors('password')}"
                         th:text="${error}">Error Message
                    </div>
                </div>
                <div class="form-group" th:classappend="*{password} != *{confirmPassword} ? 'has-error'">
                    <label for="confirmPassword">Confirm password...</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password..."
                           name="confirmPassword" required>
                    <div class="text-danger" th:if="*{password} != *{confirmPassword}">Passwords Not Matching</div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}"
                           placeholder="Your Email..."/>
                    <div class="text-danger" id="emailHelp" th:each="error : ${#fields.errors('email')}"
                         th:text="${error}">
                        Error Message
                    </div>
                </div>
                <div class="form-check text-center">
                    <input type="checkbox" class="form-check-input" id="is-admin" name="admin" checked>
                    <label class="form-check-label" for="is-admin">Admin</label>
                </div>
                <div class="d-flex justify-content-around m-2">
                    <div class="g-recaptcha" data-sitekey="6Ld-boQUAAAAACY3mdTKCwEI3pABtLYWuIQqpYVs"></div>
                </div>
                <div class="button-holder d-flex justify-content-around pb-2">
                    <button type="submit" class="btn bg-light-green btn-info">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
