<div class="container" xmlns:th="http://www.thymeleaf.org">
    <h1 th:text="#{cars.by.brand}"></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text="#{car.brand}"></th>
            <th scope="col" th:text="#{car.model}"></th>
            <th scope="col" th:text="#{car.travelled.distance}"></th>
            <th scope="col" th:text="#{action}"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="car : ${viewModel}" th:object="${car}">
            <tr>
                <td th:text="*{brand}"></td>
                <td th:text="*{model}"></td>
                <td th:text="*{travelledDistance}"></td>
                <td>
                    <a th:href="@{/cars/{id}/parts(id=*{id})}">Details</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a class="btn btn-outline-primary" th:href="@{/cars/brands}" th:text="#{cars.back.button}"></a>
</div>