<div class="container" xmlns:th="http://www.thymeleaf.org">
    <h1 class="mb-5 text-center">Add car</h1>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form th:object="${createCarWithPartsBindingModel}" th:method="post" th:action="@{/cars/create-with-parts}">
                <div class="form-group row">
                    <label for="brand" class="col-sm-3">Brand</label>
                    <input type="text" class="form-control col-sm-9" id="brand" th:field="*{brand}" placeholder="Enter brand">
                </div>
                <div class="form-group row">
                    <label for="model" class="col-sm-3">Model</label>
                    <input type="text" class="form-control col-sm-9" id="model" th:field="*{model}" placeholder="Enter model">
                </div>
                <div class="form-group row">
                    <label for="travelledDistance" class="col-sm-3">Travelled distance</label>
                    <input type="number" class="form-control col-sm-9" id="travelledDistance" th:field="*{travelledDistance}"
                           placeholder="Enter travelled distance">
                </div>
                <div class="form-group row">
                    <label for="parts" class="col-sm-3">Parts</label>
                    <select multiple class="form-control col-sm-9" id="parts" th:field="*{parts}">
                        <option th:each="partModel : ${viewModel}"
                                th:value="${partModel.partId}"
                                th:text="${partModel.name}">
                        </option>
                    </select>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>