<!-- Footer -->
<footer class="page-footer font-small text-white border-top" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left pt-3">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Car Dealership</h5>
                <p>Car Dealer is an open source Spring Framework based web application for managing car dealership
                    business logictics and infrastructure data. Sign in as User to study the data, or sign in as Admin
                    to execute modifications and actions.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3"></div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Reach out</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>Email: evg.rusev@gmail.com</p>
                    </li>
                    <li>
                        <a href="https://github.com/rusev9/car-dealership" class="text-white"><i
                                class="fab fa fa-github"></i> Source code</a>
                    </li>
                </ul>

            </div>

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a class="text-white" th:href="@{/}"> Car Dealership</a>
    </div>
</footer>