nav {
    background-color: #4682B4;
}

.container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.clear-button, .clear-button:hover, .clear-button:active {
    background-color: orange;
    border-color: orange;
}

.logs-header {
    display: inline-flex;
}