<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2>Suppliers</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="supplierName : ${viewModel}">
            <tr>
                <th th:text="${supplierName.id}"></th>
                <td th:text="${supplierName.name}"></td>
                <td>
                    <a th:href="@{/suppliers/edit/{id}(id=${supplierName.id})}">Edit</a>
                    <a th:href="@{/suppliers/delete/{id}(id=${supplierName.id})}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>