<div class="container">
    <h2 th:text="#{suppliers}"></h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{supplier.name}"></th>
            <th scope="col" th:text="#{action}"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="supplierName : ${viewModel}">
            <tr>
                <th th:text="${supplierName.id}"></th>
                <td th:text="${supplierName.name}"></td>
                <td>
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/suppliers/edit/{id}(id=${supplierName.id})}" th:text="#{action.edit}"></a>
                        <a th:href="@{/suppliers/delete/{id}(id=${supplierName.id})}" th:text="#{action.delete}"></a>
                    </div>
                    <div sec:authorize="hasAuthority('USER')">
                        <p th:text="#{restricted.to.admin}"></p>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>