<div class="container">
    <h2>Suppliers</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="supplier : ${viewModel}">
            <tr>
                <th th:text="${supplier.id}"></th>
                <td th:text="${supplier.name}"></td>
                <td>
                    <a th:href="@{/suppliers/edit/{id}(id=${supplier.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
        </tbody>
        </tbody>
    </table>
</div>