<div class="container" xmlns:th="http://www.thymeleaf.org" th:object="${viewModel}">
    <h1 th:text="|All customers in *{order} order|"></h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Is Driver Young</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="customerId: *{customerViewModels}">
            <td th:text="${customerId.name}"></td>
            <td th:text="${customerId.birthDate}"></td>
            <td th:if="${customerId.isDriverYoung()}">
                <div th:text="yes"></div>
            </td>
            <td th:unless="${customerId.isDriverYoung()}">
                <div th:text="no"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>