<div class="container" xmlns:th="http://www.thymeleaf.org" th:object="${viewModel}">
    <h1 th:text="|All customers in *{order} order|"></h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Is Driver Young</th>
                <th scope="col">Sales summary</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="customer : *{customerViewModels}">
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.birthDate}"></td>
            <td th:if="${customer.isDriverYoung()}">
                <div th:text="yes"></div>
            </td>
            <td th:unless="${customer.isDriverYoung()}">
                <div th:text="no"></div>
            </td>
            <td>
                <a th:href="@{/customers/{id}(id=${customer.id})}">Sales summary</a>
            </td>
            <td>
                <a th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>