<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="mb-5 text-center">Create customer</h1>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form th:method="post" th:action="@{/customers/create}" th:object="${createCustomerBindingModel}">
                <div class="form-group row" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                    <label for="name" class="col-sm-3">Name</label>
                    <input type="text" class="form-control col-sm-9" id="name" th:field="*{name}" placeholder="Enter name">
                    <div class="text-danger text-center offset-sm-3" th:each="error : ${#fields.errors('name')}" th:text="${error}">Error Message</div>
                </div>
                <div class="form-group row" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                    <label for="birthDate" class="col-sm-3">Date of birth</label>
                    <input type="date" class="form-control col-sm-9" id="birthDate" th:field="*{birthDate}" placeholder="Enter date of birth">
                    <div class="text-danger text-center offset-sm-3" th:each="error : ${#fields.errors('birthDate')}" th:text="${error}">Error Message</div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-info">Create</button>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>