<div class="container" xmlns:th="http://www.thymeleaf.org">
    <h1>All sales</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text="#{sales.car.brand}"></th>
            <th scope="col" th:text="#{sales.customer.name}"></th>
            <th scope="col" th:text="#{sales.discount}"></th>
            <th scope="col" th:text="#{action}"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="sale : *{viewModel}" th:object="${sale}">
            <tr>
                <td th:text="*{car}"></td>
                <td th:text="*{customer}"></td>
                <td th:text="*{discount}"></td>
                <td>
                    <a th:href="@{/sales/{id}(id=${sale.id})}">Details</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>